{% extends 'task/base.html'%}


{% block boot%}
  <div class="container">
   
  <br>
  <br>
  <center>
    <h3>Download your favorite video</h3>
    <br>
    <br>
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
  <form action="youtbdown/" method="get">
    <div class="mb-3">
      <input name="url" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Paste the link here">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </center>
  </div>
  </div>
{%endblock%}

